extends base
block headContent
    title= 'KHAN`s Home Controller - ' + title
block bodyContent
    nav(role='navigation')
        div.nav-wrapper.container
            ul.right.hide-on-med-and-down
                li: a(href='/') Home
                li: a(href='/airConditioner') Air Conditioner
                li: a(href='/tv') TV
                li: a(href='#') Boiler
                li: a(href='#') Lamp
            ul#slide-out.side-nav
                li: a(href='/') Home
                li: a(href='/airConditioner') Air Conditioner
                li: a(href='/tv') TV
                li: a(href='#') Boiler
                li: a(href='#') Lamp
            a.button-collapse(data-activates='slide-out'): i.mdi-navigation-menu
            div.brand-logo.center #{title}
    block content
block footScripts
    script(src='/javascripts/navigation.js')
    block footerScripts