.wrapper {
  margin-top: 20px;
}
.fillWidth {
  width: 100%;
}
.fillHeight {
  height: 100%;
}
.dropdown-content {
  max-height: 400px;
}

#powerLed {
  color: gray;
  font-size:2em;
  vertical-align: middle;
  height: 54px;
  line-height: 56px;
}
#powerLed.powerOn {
  color: #00E676;
}

.btnLabel {
  height: 54px;
  line-height: 56px;
  font-size: 1.5em;
}